body {
  background-color: #faf5ef;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

button {
  display: block;
  margin: 15px auto;
  border: 1px solid rgb(255, 90, 8);
  background: transparent;
  font-size: 12px;
  font-weight: bold;
  border-radius: 45px;
  padding: 10px 18px;
  box-shadow: 3px 3px 5px 0px rgba(189, 212, 207, 0.432);
  transition: all 150ms ease-in-out;
}

button:hover {
  background: radial-gradient(
    circle at 0.2% 1.8%,
    rgb(255, 90, 8) 0%,
    rgb(88, 0, 0) 100.2%
  );
  cursor: pointer;
  color: rgb(255, 253, 253);
  padding: 10px 12px;
  margin: 15px auto;
}

/*change theme 
.dark {
  background-color: #0c0c0c;
  color: white;
}
.dark .container {
  background: transparent;
  color: white;
  box-shadow: none;
}

.dark .theme-button {
  font-size: 12px;
  background: transparent;
  box-shadow: 3px 3px 5px 0px rgba(75, 82, 80, 0.514);
  border: 2px solid rgb(255, 90, 8);
  color: rgb(255, 253, 253);
  font-weight: bold;
  padding: 10px 18px;
  margin: 15px auto;
  transition: all 200ms ease-in-out;
}
.dark .theme-button:hover {
  font-size: 12px;
  background: radial-gradient(
    circle at 0.2% 1.8%,
    rgb(255, 90, 8) 0%,
    rgb(88, 0, 0) 100.2%
  );
  color: rgb(255, 253, 253);
  padding: 10px 12px;
  margin: 15px auto;
}

.dark .form-container {
  background: rgba(32, 31, 31, 0.836);
  color: rgb(228, 225, 225);;
  box-shadow: 0px 5px 20px rgba(92, 91, 91, 0.829);
}

.dark .recipe {
  background-color: rgba(32, 31, 31, 0.836);
  color: rgb(228, 225, 225);
  box-shadow: 0px 5px 20px rgba(92, 91, 91, 0.829);
}

.dark h1,
h3 {
  color: rgb(228, 225, 225);
}

.dark h3 {
  color: rgb(228, 225, 225);
}
  */

a {
  color: rgb(168, 70, 21);
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

.icon-cook {
  width: 48px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.5;
  color: #4b2e2b;
}

h3 {
  text-align: center;
  color: #4b2e2b;
  font-weight: 600;
}
.form-container {
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(203, 201, 201, 0.467);
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.7;
  font-size: 12px;
}

.instructions {
  padding: 10px;
  /*border: 1px solid rgba(39, 33, 66, 0.5);*/
  width: 90%;
  font-size: 14px;
  border-radius: 50px;
  line-height: 20px;
  color: #4b2e2b;
  white-space: pre-line;
}

.submit-button {
  margin-left: 10px;
  background: #d47440;
  color: white;
  border: none;
  width: 120px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
  cursor: pointer;
}
.submit-button:hover {
  background: #ce5819;
}

.recipe {
  font-size: 14px;
  background-color: #ffffff;
  color: #4b2e2b;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.6;
  border-left: 1px solid rgb(161, 40, 9);
  box-shadow: 0px 20px 60px rgba(203, 201, 201, 0.467);
}

.recipe-image {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 15px;
}

.ingredients-list {
  margin: 0;
  padding-left: 20px;
}

.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animationti {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  color: #4b2e2b;
}
